<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <import resource="common.xml"/>

    <bean id="applicationEventMulticaster" class="org.springframework.context.event.SimpleApplicationEventMulticaster">
        <property name="taskExecutor">
            <bean class="org.springframework.core.task.SimpleAsyncTaskExecutor"/>
        </property>
    </bean>

    <bean id="register" class="common.Register"/>
    <bean id="springEventBus" class="moc.oreh.eventbus.spring.SpringEventBus" destroy-method="destroy">
        <constructor-arg name="corePoolSize" value="8"/>
        <constructor-arg name="maximumPoolSize" value="32"/>
        <constructor-arg name="keepAliveTime" value="300"/>
    </bean>
    <bean id="postProcessor" class="common.DIYBeanPostProcessor"/>
    <bean class="service.events.EmailService">
        <property name="blackList">
            <list>
                <value>abc@123.com</value>
                <value>aaabbb.com</value>
            </list>
        </property>
    </bean>

    <bean id="daoService" class="service.jdbc.DaoService"/>
    <bean id="takePlane" class="service.TakePlane"/>
    <bean id="onlineEventHandler" class="service.myeventbus.OnlineEventHandler" autowire="byName"/>
    <bean id="blackListNotifier" class="service.events.BlackListNotifier"/>
    <!--<context:component-scan base-package="service"/>-->
</beans>