server:
  port: 8080
  timezone: Asia/Shanghai
spring:
  application:
    name: web
  jackson:
    default-property-inclusion: non_null
  jpa:
    database: mysql
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
    open-in-view: false
  datasource:
    url: jdbc:mysql://localhost:3306/db
    username: root
    password: password
  flyway:
    baseline-on-migrate: true
    enabled: true
  main:
    allow-bean-definition-overriding: true
logging:
  level:
    root: info
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    url: /doc/openapi.json