<!--<!DOCTYPE web-app PUBLIC-->
        <!--"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
        <!--"http://java.sun.com/dtd/web-app_2_3.dtd" >-->
<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:META-INF/spring/application-context.xml</param-value>
    </context-param>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name><!--用来指定一个具体的字符集-->
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name><!--true：无论request是否指定了字符集，都是用encoding；false：如果request已指定一个字符集，则不使用encoding-->
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> <!--不加这句就不能识别spring context-->
    </listener>
    <listener>
        <listener-class>com.hero.common.ApplicationListener</listener-class>
    </listener>



    <!--spring MVC Controller 核心分发器-->
    <servlet>
        <servlet-name>springMVCController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:META-INF/spring/webContextController.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springMVCController</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>5</session-timeout> <!-- minute -->
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
