<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="MainFile" fileName="${sys:catalina.base}/logs/demo.log" filePattern="${sys:catalina.base}/logs/$${date:yyyy-MM}/am-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy compressionLevel="9" max="60"/>
        </RollingFile>
        <Async name="AsyncMainFile">
            <AppenderRef ref="MainFile"/>
        </Async>
        <RollingFile name="RootFile" fileName="${sys:catalina.base}/logs/root.log" filePattern="${sys:catalina.base}/logs/$${date:yyyy-MM}/root-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy compressionLevel="9" max="60"/>
        </RollingFile>
        <Async name="AsyncRootFile">
            <AppenderRef ref="RootFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <!--<logger name="com.ndkey" level="DEBUG" additivity="false">-->
            <!--<AppenderRef ref="AsyncMainFile"/>-->
            <!--// TODO: remove Console when release-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</logger>-->
        <!--<logger name="org.quartz" level="WARN" additivity="false">-->
            <!--<AppenderRef ref="AsyncMainFile"/>-->
            <!--// TODO: remove Console when release-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</logger>-->
        <!--<Root level="debug">-->
            <!--<AppenderRef ref="AsyncRootFile"/>-->
            <!--// TODO: remove Console when release-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Root>-->
    </Loggers>
</Configuration>